.header {
  background-color: #219ebc;
  padding: 10px;
}

.form {
  margin: 0 15rem;
  padding: 1rem;
  border: 1px solid black;
  box-shadow: 5px 5px 5px grey;
  border-radius: 5px;
  background-color: white;
  opacity: 0.9;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form {
  margin: 0 15rem;
  padding: 1rem;
  border-radius: 10px;
}

.m-1 {
  margin: 1rem;
}

#text-on-slider {
  position: absolute;
  height: calc(95vh);
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  z-index: 2;
  top: 0;
  pointer-events: none;
  width: 100%;
}
