:root {
  --bg: #023047;
  --font: #ffb703;
  --link: #fb8500;
  --highlight: #219ebc;
  --border: #8ecae6;
}

body {
  margin: 0;
  padding: 0;
}
.landing-header {
  padding: 0;
  margin: 0;
}
.header {
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #219ebc;
  padding: 10px;
  position: static;
  font-size: 10px;
}

.slider {
  width: 100%;
  height: auto;
}

.button {
  margin-left: 1.2rem;
}

.form {
  margin: 0;
  padding: 1rem;
  border: 1px solid black;
  box-shadow: 5px 5px 5px grey;
  border-radius: 10px;
  background-color: white;
  opacity: 0.8;
}

.form-container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkbox {
  margin: 5px;
}

.m-1 {
  margin: 1rem;
}

.navbar-item-color {
  background-color: #ee6e73;
}

.text-on-slider {
  position: absolute;
  height: calc(80vh);
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  z-index: 2;
  top: 0;
  width: 100%;
}

.mt-2 {
  margin-top: 20px;
}

/* .h1-m {
  font-size: 20px;
}

.h1-s {
  font-size: 13px;
} */

.header-font-size {
  font-size: 38px;
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .header-responsive {
    font-size: 32px;
    font-weight: 600;
  }
}

@media screen and (max-width: 768px) {
  .header-responsive {
    font-size: 25px;
    font-weight: 600;
  }
  .form {
    width: 80vw;
    height: auto;
  }
}

@media screen and (max-width: 350px) {
  .header-responsive {
    font-size: 20px;
    font-weight: 600;
  }
  .form {
    width: 90vw;
    height: auto;
  }
}
