:root {
  --bg: #023047;
  --font: #ffb703;
  --link: #fb8500;
  --highlight: #219ebc;
  --border: #8ecae6;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #219ebc;
}

.button {
  margin-left: 1.2rem;
}

.form {
  margin: 0 15rem;
  padding: 1rem;
  border: 1px solid black;
  box-shadow: 10px 10px 5px grey;
  border-radius: 5px;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form {
  margin: 0 15rem;
  padding: 1rem;
  border-radius: 10px;
}

.checkbox {
  margin: 5px;
}

.m-1 {
  margin: 1rem;
}

.navbar-item-color {
  background-color: #ee6e73;
}

/* .h1-m {
  font-size: 20px;
}

.h1-s {
  font-size: 13px;
} */

.header-font-size {
  font-size: 38px;
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .header-responsive {
    font-size: 32px;
    font-weight: 600;
  }
}

@media screen and (max-width: 768px) {
  .header-responsive {
    font-size: 25px;
    font-weight: 600;
  }
}

@media screen and (max-width: 350px) {
  .header-responsive {
    font-size: 20px;
    font-weight: 600;
  }
}
