:root {
  --bg: #023047;
  --font: #ffb703;
  --link: #fb8500;
  --highlight: #219ebc;
  --border: #8ecae6;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--bg);
  font-family: Raleway;
  color: white;
}

main {
  flex: 1 0 auto;
}

/* header */
h1 {
  font-family: Pacifico;
  color: var(--font);
  text-shadow: 1px 1px 1px black;
  font-size: 45px;
}

.header {
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: var(--bg);
}

.format-header {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 30px;
  font-family: Pacifico;
  color: var(--font);
  text-shadow: 1px 1px 1px black;
}

h4 {
  font-family: Pacifico;
  color: var(--font);
  text-shadow: 1px 1px 1px black;
}

.header-font-size {
  font-size: 38px;
}

/* navbar */
.nav-colour {
  background-color: var(--highlight);
}

.navbar-item-color {
  background-color: var(--highlight);
}

/* card styling */
.card-panel {
  background-color: var(--border);
  border-radius: 10px;
  margin-top: 1rem;
  box-shadow: 2px 2px 2px var(--highlight);
  color: white;
  align-content: center;
}

/* modal styling */
.modal {
  background-color: var(--highlight);
  padding: 1rem;
  border: 2px solid var(--font);
  border-radius: 10px;
}

a {
  color: var(--bg);
}

.btn {
  background-color: var(--font);
}

th {
  background-color: var(--font);
  border: 1px solid white;
}

.is-today {
  color: white;
}

.is-selected {
  color: white;
}

/* datepicker styling */
.datepicker-date-display {
  background-color: var(--highlight);
}

.datepicker-day-button {
  color: white;
}

.datepicker-table abbr {
  color: white;
}

.datepicker-table td.is-selected {
  background-color: var(--link);
}

.datepicker-day-button:active {
  background-color: var(--font);
}
.datepicker-day-button:hover {
  background-color: var(--font);
}

.datepicker-done {
  background-color: var(--font);
  color: white;
}

.datepicker-cancel {
  background-color: tomato;
  color: white;
}

input[type="text"]:not(.browser-default):not([readonly]) {
  border-bottom: var(--font) solid 2px;
  color: white;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: var(--font) solid 2px;
  color: white;
}

#form-input-search {
  width: 10rem;
  padding: 0;
  margin: 0;
  text-align: center;
}

#form-input:focus,
#form-input:active {
  background: transparent;
}

.page-footer {
  background-color: var(--highlight);
}

/* padding and margin classes */
.p-1 {
  padding: 10px;
}

.p-2 {
  padding: 20px;
}

.p-3 {
  padding: 30px;
}

.pt-1 {
  padding-top: 10px;
}

.pt-2 {
  padding-top: 20px;
}

.pt-3 {
  padding-top: 30px;
}

.pb-1 {
  padding-bottom: 10px;
}
.pb-2 {
  padding-bottom: 20px;
}
.pb-3 {
  padding-bottom: 30px;
}

.px-1 {
  padding-left: 10px;
  padding-right: 10px;
}
.px-2 {
  padding-left: 20px;
  padding-right: 20px;
}
.px-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.m-1 {
  margin: 10px;
}

.m-2 {
  margin: 20px;
}

.m-3 {
  margin: 30px;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mb-1 {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 20px;
}
.mb-3 {
  margin-bottom: 30px;
}

.mx-1 {
  margin-left: 10px;
  margin-right: 10px;
}
.mx-2 {
  margin-left: 20px;
  margin-right: 20px;
}
.mx-3 {
  margin-left: 30px;
  margin-right: 30px;
}

/* media queries */
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 32px;
  }

  .format-header {
    font-size: 26px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 28px;
  }

  .format-header {
    font-size: 22px;
  }
}

@media screen and (max-width: 350px) {
  h1 {
    font-size: 25px;
  }
  .format-header {
    font-size: 20px;
  }
}
