:root {
  --bg: #023047;
  --font: #ffb703;
  --link: #fb8500;
  --highlight: #219ebc;
  --border: #8ecae6;
}

body {
  background-color: var(--bg);
  color: var(--font);
}

.header {
  background-color: #219ebc;
  padding: 1px;
  border: 1px solid wheat;
  margin: 5px;
}

.wishlist-title-div {
  /* display: flex;
  justify-content: space-between; */
  border: 2px solid var(--border);
  margin: 5px;
  text-align: center;
  padding: 5px;
}

#return-home {
  margin: 10px 10px 0px 0px;
}

.wishlist-title-div h2 {
  display: inline;
}

.wishlist-item img {
  width: 50px;
}
